@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
    --dark-blue: #3c4e6d;
    --light-blue: #489df2;
}

/* -----------------------------------
    Common
-------------------------------------*/
a {
    transition: ease-in-out 0.2s;
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
}

/* -----------------------------------
    Default Navbar
-------------------------------------*/
nav {
    border-bottom: 1px solid #dfdfdf;
}

.navbar-brand-logo {
    height: 60px;
}

.nav-link {
    font-weight: 500;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* Negative height */
    height: 4px; /* Height of border */
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 5rem; /* This can be any number but is normally set very high for the pill-shape */
}

.avatar-img {
    height: 40px;
}

/* -----------------------------------
    Student Default
-------------------------------------*/
.body-title {
}

/* -----------------------------------
    Dashboard
-------------------------------------*/
.dashboard .card {
    color: #fff;
    border: none;
    transition: ease-in-out 0.3s;
}

.dashboard a:hover .card {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.dashboard .card.enroll {
    background-color: #f67a9c;
}

.dashboard .card.ledger {
    background-color: #489df2;
}

.dashboard .card.cor {
    background-color: #6a5be5;
}

.dashboard .card.clearance {
    background-color: #6cbf9c;
}

.dashboard .card i {
    font-size: 50px;
}

/* -----------------------------------
    Clearance
-------------------------------------*/
.student-pic {
    height: 150px;
}

/* -----------------------------------
    Footer
-------------------------------------*/
footer {
    background-color: var(--dark-blue);
    color: #fff;
}

footer .brand img {
    height: 100px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer i {
    margin-right: 12px;
    font-size: 1.2rem;
}

footer a {
    color: #fff;
}

footer .copyright {
    font-size: 0.8rem;
    color: #a0aab8;
}
