@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
    --dark-blue: #3c4e6d;
    --light-blue: #489df2;
}

/* -----------------------------------
    Common
-------------------------------------*/
a {
    transition: ease-in-out 0.2s;
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
}

.main.default .logo {
    height: 120px;
}

.main.default .logo.large {
    height: 200px;
}

/* -----------------------------------
    Modals
-------------------------------------*/

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }
}

/* -----------------------------------
    Navigation
-------------------------------------*/
nav {
    border-bottom: 1px solid #dfdfdf;
}

.navbar-brand-logo {
    height: 60px;
}

.nav-link {
    font-weight: 500;
    position: relative;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* Negative height */
    height: 4px; /* Height of border */
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 5rem; /* This can be any number but is normally set very high for the pill-shape */
}

.avatar-img {
    height: 40px;
}

/* -----------------------------------
    Register
-------------------------------------*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
        to right,
        rgba(161, 196, 253, 1),
        rgba(194, 233, 251, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
        to right,
        rgba(161, 196, 253, 1),
        rgba(194, 233, 251, 1)
    );
}

.bg-primary-blue {
    background-color: var(--dark-blue);
}

@media (min-width: 992px) {
    .card-registration-2 .bg-primary-blue {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width: 991px) {
    .card-registration-2 .bg-primary-blue {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/* -----------------------------------
    Student Default
-------------------------------------*/
.body-title {
}

/* -----------------------------------
    Dashboard
-------------------------------------*/
.dashboard .card {
    color: #fff;
    border: none;
    transition: ease-in-out 0.3s;
}

.dashboard a:hover .card {
    transform: translateY(-0.3rem);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.dashboard .card.enroll {
    background-color: #f67a9c;
}

.dashboard .card.ledger {
    background-color: #489df2;
}

.dashboard .card.cor {
    background-color: #6a5be5;
}

.dashboard .card.clearance {
    background-color: #6cbf9c;
}

.dashboard .card i {
    font-size: 50px;
}

/* -----------------------------------
    Clearance
-------------------------------------*/
.student-pic {
    height: 150px;
}

/* -----------------------------------
    Footer
-------------------------------------*/
footer {
    background-color: var(--dark-blue);
    color: #fff;
}

footer .brand img {
    height: 100px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer i {
    margin-right: 12px;
    font-size: 1.2rem;
}

footer a {
    color: #fff;
}

footer .copyright {
    font-size: 0.8rem;
    color: #a0aab8;
}
